<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="se525.team6"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SMSHelper" android:theme="@style/Theme.Transparent"
                  android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Primary"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SmsActivity"
                  android:label="@string/app_name">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
       <receiver android:name=".SMSReceive"> 
            <intent-filter> 
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" /> 
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" /> 
            </intent-filter> 
        </receiver>
        
<!--         Service to run other services -->

<!--         Service to do the tasks -->    
    <service android:name=".WipeMe"></service>
        
<!--         Broadcast Receiver that will process AppWidget updates -->
<!--        <receiver android:name=".BankWidget" android:label="My Bank App">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->
<!--            <meta-data android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/bankwidget" />-->
<!--        </receiver>-->
<!---->
<!--         Service to perform web API queries -->
<!--        <service android:name=".BankWidget$UpdateService" />-->

    </application>
    
    <uses-permission android:name="se525.team6.MAINSERVICE"></uses-permission>
    <uses-permission android:name="se525.team6.MAINGEOSERVICE"></uses-permission>
    <uses-permission android:name="se525.team6.MAINWIPESERVICE"></uses-permission>
    <uses-permission android:name="se525.team6.WIPESERVICE"></uses-permission>
    
    <uses-permission android:name="android.permission.SEND_SMS">
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS">
    </uses-permission>
<uses-permission android:name="android.permission.BIND_DEVICE_ADMIN"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
<permission
 android:label="Call for the Main Service"
 android:protectionLevel="dangerous"
 android:name="se525.team6.MAINSERVICE"
 android:description="@string/mainservice_desc"></permission>    
</manifest>