<html>
<head>
	<title>Pulse</title>
	<link href = "/stylesheets/primary.css" type = "text/css" rel="stylesheet">
	<script src = "/js/jquery.js" type = "text/javascript"></script>
</head>
<body>
<div id = "container">
	<div id = "dispatches">
		<h2>Dispatches from Optimus Prime's Phone (last checkin <span class = "highlight">{{last_checkin}}</span>)</h2>
    	{% for r in records %}
    		<p>Device checked in on <span class = "highlight">{{r.record_date}}</span> from <span class = "highlight">{{r.msg_data}}</span>
    	{% endfor %}
	</div>
</div>
</html>